<style>
.acc_title:before {
line-height: normal!important;
}
</style>

<div class="acc-container">
          <div class="acc">
            <dl>
              <dt><a class="acc_title" href="#">Why Sex Doll Genie?</a></dt>
              <dd class="acc_panel acc_panel_col">
                <p>Sex Doll Genie&trade;&nbsp;(SDG) was created as a result of a fun husband/wife bedroom experiment in 2015 and is a husband-wife run business. What began as a fun experiment to spice up our sex life, turned into a budding business to help connect doll enthusiasts around the world with their dream love doll.</p>
<p>At SDG, you get the largest collection of Silicone and TPE love dolls from the most well-reputed doll manufacturers in the business. We have, so far, partnered with WM Doll&trade;, OR Doll&trade;,SY Doll&trade;, Z-One Doll&trade; and YL Doll&trade;. We are in talks with a few more popular doll manufacturers to bring you an even bigger collection of dolls and sex doll accessories. We add new dolls weekly!</p>
<p>From the beginning, we wanted this website to be not just a store, but also an educational hub. We have gathered a team of doll experts who only work on creating the most informative and educational pieces of content for you. We hope this will allow you to maximize your doll relationships include their care, current trends, and a pulse of the love doll community in general.</p>
<p>Here are 4 more great reasons&nbsp;to buy from us:</p>
<p><strong>Returns are easy</strong>&nbsp;-&nbsp;simply&nbsp;contact us&nbsp;for a returns number and send your item to our returns&nbsp;center&nbsp;for fast processing. We'll get you a replacement or refund in a snap! Please check our Genie Guarantee for more details.</p>
<p><strong>100% Authentic, Certified Original Dolls</strong>&nbsp;- we have the full backing of our amazing manufacturers and we&nbsp;make sure your doll is inspected thoroughly twice before leaving our warehouse. All dolls are CE certified and made with safe, approved materials.</p>
<p><strong>Always Free Shipping</strong>&nbsp;- that's it. No BS if's and but's. We will never charge you shipping on SDG.</p>
<p><strong>Payment Plans</strong>&nbsp;- we make it easy for you to buy your dream doll on your own terms. You can set the payment plan terms that best suit your needs and we'll do the rest.</p>
<p><strong>Price Matching</strong>&nbsp;- in the unlikely event that you find your item cheaper at another online store, just let us know and we'll beat the competitor's pricing hands-down.</p>
<p><strong>100% Satisfaction</strong>&nbsp;- We insist that you love everything you buy from us. If you're unhappy for any reason whatsoever, just let us know and we'll bend over&nbsp;backward&nbsp;to make things right again.</p>
<p><strong>Secure &amp; Private</strong>&nbsp;- Ordering from Sex Doll Genie is 100% safe and secure&nbsp;so you can rest easy. Your personal details are never shared, sold or rented to anyone either.</p>
<p><strong>Unparalleled Customer Support</strong>&nbsp;- you can contact us in several ways. Choose the one that is most convenient for you.&nbsp;Email&nbsp;(support@sexdollgenie.com).&nbsp;Phone&nbsp;(+1-833-SDG-DOLL).&nbsp;Live Chat.&nbsp;TDF&nbsp;(username: Sex Doll Genie).&nbsp;</p>
              </dd>
              <dt><a href="#" class="acc_title">Buyer Beware: Don't Get Scammed!</a></dt>
              <dd class="acc_panel acc_panel_col">
                <article class="ac-medium">
<p>There are a lot of stories about people getting scammed or sent inferior black-market dolls on the internet. You just have to scan the TDF forum to find dozens of such stories. It can be a little scary to make such a big investment online and not being sure about the quality of the materials, workmanship and whether you'd receive the same exact doll as shown in the photos.&nbsp;</p>
<p>On top of that, a lot of fake sellers will sell you cheaper versions of genuine dolls from AliExpress, Alibaba or DHGate. These sellers take high-quality photos, but in the end, send a much inferior and downright the worst imitation of the original doll. There even have been instances of buyers receiving a very expensive plastic blow-up doll in the mail when ordering a luxury TPE love doll. It's just not fair.&nbsp;</p>
<p>At Sex Doll Genie™, we custom manufacture our dolls according to the options you choose during the checkout. Here is a sample of a <a href="https://cdn.shopify.com/s/files/1/0024/8070/1503/files/Allen_6.jpg?10861931947161878700" target="_blank" rel="noopener">real WM Doll being manufactured</a> for one of our recent customers. You can even see our staff in the background working on quality control and personalizing the dolls.&nbsp;</p>
<p>Furthermore, you can see our exclusive seller authorization directly from our other doll manufacturer, OR Dolls, <a href="https://cdn.shopify.com/s/files/1/0024/8070/1503/files/Authorization_Notifications.pdf?10861931947161878700" target="_blank" rel="noopener">here</a>. We are also a TDF approved vendor on <a href="https://dollforum.com/forum/">dollforum.com</a>.&nbsp;</p>
<p>At Sex Doll Genie™, we are husband/wife owned company. We treat you like family here.&nbsp;</p>
<p>Finally, we have a fully-staffed support team waiting to hear from you on various channels all day long. Call us on the phone, chat with us on Live Chat, email us, or reach out to us on The Doll Forum - we have it all covered. No other doll seller online offers so many ways for customers to get in touch with a <strong>real human</strong> support person.&nbsp;</p>
<p>&nbsp;</p>
              </dd>
              <dt><a href="#" class="acc_title">Doll Care - A Quick Guide</a></dt>
              <dd class="acc_panel acc_panel_col">
                <p>Your love doll is an investment. If maintained properly, you can enjoy your doll's company for years to come. We put together some quick tips on how to care for your TPE or silicone sex doll.&nbsp;</p>
<p style="text-align: center;"><a href="https://cdn.shopify.com/s/files/1/0024/8070/1503/files/HOW_TO_STORE.jpg?9908113423219736249" target="_blank" rel="noopener">HANDY ILLUSTRATION GUIDE</a></p>
<p>&nbsp;How to Care for Your Love Doll:</p>
<ol>
<li>TPE is a temperamental&nbsp;material. Although real to the touch, it does not wear and tear like real skin. For this reason, we recommend that you do not leave your doll with arms and legs spread out for extended periods of time. It is always a good idea to return the doll to a neutral and balanced skeletal position after use.&nbsp;&nbsp;</li>
<li>If the skin begins to feel sticky, use a renewal powder (substitute with corn starch or baby powder, if necessary) and brush off the excess powder before drying. This will maintain the health of the skin and prevent cracking.&nbsp;</li>
<li>TPE absorbs colors. So make sure you do not dress your dolls in brightly colored clothes (use color transfer resistant clothing) or place them near newspapers, magazine or any type of color or ink.&nbsp;</li>
<li>Do not expose the doll to direct sunlight for a long duration, and always use only water-based lubricants.&nbsp;</li>
<li>Finally, since TPE tends to flatten over time, and you don't wanna lose those delicious curves anytime soon, try to keep the doll in hanging position when in storage. We recommend&nbsp;these <a href="https://sexdollgenie.com" target="_blank" rel="noopener">closet hooks</a> for easy hanging and retrieval.&nbsp;</li>
<li>Since all our dolls are made of high-quality metal skeletons (unlike the cheaper dolls), care must be taken when carrying the doll around. As it can be heavy, do not drop your doll on a hard surface. Wrists and fingers are major weak points, especially when engaging in doggy-style sex.&nbsp;</li>
<li>When bathing your doll, care must be taken to not submerge its head under water. It is a good idea to bathe the&nbsp;doll body carefully every 30 days or so with mild anti-microbial soap. Refrain from using hair dryer to blow dry your doll.</li>
<li>For cleaning the love holes, we recommend flushing them with anti-bacterial soap and water. For best results, use our <a href="https://sexdollgenie.com/" target="_blank" rel="noopener">SDG irrigator kit</a>. Always dry the love holes thoroughly after washing. We recommend you try using tampons to make certain the holes are perfectly dry.&nbsp;</li>
<li>For cleaning the wig, remove it from the head first. Wash the wig with a mild shampoo (to retain the shine and volume) as you would normal hair. Let the wig dry naturally and then always comb it (always from the scalp area downwards) before storing or putting it back onto your doll.&nbsp;</li>
<li>Finally, never share your doll with anyone else. Unless you are using your doll with a known sex partner you risk spreading diseases. If it must be shared, insist on them using a condom.</li>
</ol>
<p>&nbsp;</p>
              </dd>
            </dl>
          </div>
        </div>

<script>
    /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   */


  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );

  //fake jQuery
  var $ = function(selector){
    return document.querySelector(selector);
  }
  var accordion = $('.acc');





  //add event listener to all anchor tags with accordion title class
  accordion.addEventListener("click",function(e) {
    e.stopPropagation();
    e.preventDefault();
    if(e.target && e.target.nodeName == "A") {
      var classes = e.target.className.split(" ");
      if(classes) {
        for(var x = 0; x < classes.length; x++) {
          if(classes[x] == "acc_title") {
            var title = e.target;

            //next element sibling needs to be tested in IE8+ for any crashing problems
            var content = e.target.parentNode.nextElementSibling;

            //use classie to then toggle the active class which will then open and close the accordion

            classie.toggle(title, 'acc_title_active');
            //this is just here to allow a custom animation to treat the content
            if(classie.has(content, 'acc_panel_col')) {
              if(classie.has(content, 'anim_out')){
                classie.remove(content, 'anim_out');
              }
              classie.add(content, 'anim_in');

            }else{
               classie.remove(content, 'anim_in');
               classie.add(content, 'anim_out');
            }
            //remove or add the collapsed state
            classie.toggle(content, 'acc_panel_col');




          }
        }
      }

    }
  });
  
</script>
