<a id='laybuy_shop'><img src='https://lay-buys.com/gateway/LAY-BUY.png' alt='Checkout with LayBuy' title='Checkout with LayBuy'></a>
						      <script type='text/javascript'>
						        jQuery('#laybuy_shop').click(function(){
						        		jQuery('.checkout').trigger( 'click' );
						        });
						      </script>
								<style type='text/css'>
								  	#laybuy_shop{
								  		cursor: pointer;
								  	}
								  	#laybuy_shop > img {
									    float: right;
									    margin-left: 5px;
									    margin-top: 5px;
									}
									#laybuy_shop > img:after {
									    clear: both;
									}
								</style>