<style>img.no-border.ratina-img.checkout-img-foot{max-width: 100%;}
.shown-if-js {
    display: none !important;
}</style>
<div class="checkout-footer-container">
<div class="three columns alpha">
  <p></p>
</div>
<div class="two columns checkout-footer-img">
  <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/satisfaction_e45e2db9-def3-4ffc-b38a-38e8b23c4ca3_500x.jpg" alt="Image of footer-image" class="footer-image no-border ratina-img">
</div>
<div class="three columns checkout-footer-text">
  <h3>Any issues- let us know!</h3>
  <p>In case of any issues with your order, please contact us and we will find the best solution for you.</p>
  <p>See the <a href="https://sexdollgenie.com/pages/genie-guarantee">Genie Guarantee</a> for more details.</p>
</div>
  <div class="one columns">
    <p></p>
  </div>
<div class="two columns checkout-footer-img">
  <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/secure_46dbb2b7-030a-46ff-a310-e763b84098cc_500x.jpg" alt="Image of footer-image" class="footer-image no-border ratina-img">
</div>
<div class="three columns checkout-footer-text">
  <h3 class="with-lock-bg">Secure Checkout</h3>
                  <p>We use encrypted SSL security to ensure that your credit card information is 100% protected.</p>
                  <img alt="Checkout Secure" src="https://cdn.shopify.com/s/files/1/0024/8070/1503/t/23/assets/ff-checkout-single.png?v=1586516723" class="no-border ratina-img checkout-img-foot">
  </div>
<div class="two columns omega">
  <p></p>
</div>
</div>