<style>.mediaWrapper{height: auto !important;width: auto !important;}</style>
<div id="vidwrapper"> 
  <div class="vid1">
  <h3 class="title">TPE Love Doll Unboxing</h3>
    <div id="vimeo-video-1"></div>{% comment %}Video included in the theme.liquid page, find for vimeo-video-1.{% endcomment %}
    <div class="video_caption">Quick Unboxing Video to Show You How Your Doll Will Arrive.</div>
  </div>
  <div class="vid2">
  <h3 class="title">REAL SEX DOLL DEMO</h3>
    <div id="vimeo-video-2"></div>{% comment %}Video included in the theme.liquid page, find for vimeo-video-2.{% endcomment %}
    <div class="video_caption">She Feels As Incredible As She Looks - Here's the Proof!</div>
  </div>
    <div class="clear"></div> 
</div>
