{% for link in linklists[menu].links %}
  {%- comment %}<locksmith:7227>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[menu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:7227>{% endcomment -%}
  <li><a href="{{ link.url }}" class="{% if link.active %}active{% endif %} {% if linklists[link.handle] != empty %}dropdown_link{% else %} top_link {% endif %}" data-dropdown-rel="{{ link.handle }}">{{ link.title }} {% if linklists[link.handle] != empty %}<span class="icon-down-arrow"></span>{% endif %}</a></li>
{% endfor %}