<!-- <style>
  .whatsinctop {
    margin: auto;
    text-align: center;
  }
    .threeway {
      width:auto;
  }
  @media only screen and (max-device-width: 798px) {
	  .threeway {
      width:100%;
  }
  }

</style>
<a href="https://vimeo.com/sexdollgenie"><img style="width:43.83%" src="https://cdn.shopify.com/s/files/1/0024/8070/1503/files/video2_518x.jpg" /></a><a class="btn-beatanyprice2"><img style="width:56.17%" src="https://cdn.shopify.com/s/files/1/0024/8070/1503/files/match2_662x.jpg" /></a>

<div class="product-reasons" style="display: none;>
            <h4>At SDG, We Value Your Investment...</h4>
            <ul class="clearfix">
              <li>
                <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/2/assets/topreasons_1_image.png?3778670328189654338" class="ratina-img" alt="Image of We Never Settle On Quality">
                <br>We Never Settle On Quality
              </li>
              <li>
                <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/2/assets/topreasons_2_image.png?3778670328189654338" class="ratina-img" alt="Image of Price Match Guarantee">
                <br>Price Match Guarantee
              </li>
              <li>
                <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/2/assets/topreasons_3_image.png?3778670328189654338" class="ratina-img" alt="Image of 100% Risk-Free">
                <br>100% Risk-Free
              </li>
              <li>
                <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/2/assets/topreasons_4_image.png?3778670328189654338" class="ratina-img" alt="Image of Easy &amp; Free Returns">
                <br>Easy &amp; Free Returns
              </li>
              <li>
                <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/2/assets/topreasons_6_image.png?3778670328189654338" class="ratina-img" alt="Image of 100% Money Back">
                <br>100% Money Back
              </li>
            </ul>
          </div>
<br />
		 <div id="3ways" class="whatsinctop {% for tag in product.tags %}
  {% if tag contains 'clothing' %}hide{% break %}{% endif %}
{% endfor %}">
      	<img class="threeway" src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/Pricing-Tiers-white2.3_1060x.jpg" />
      </div>
<div style="text-align: center;margin: 50px 0;font-size: 33px;"><a href="#toppart-head">Back to top ⬆</a></div>

 -->