  <style>
    .testi-cont {
      background-color: #dedede;
    }
        .slick-wrapper {
          padding: 25px;
            max-width: 720px;
            margin: 0 auto 60px;
        }
        [class^='slider-'] {
            margin: 0 20px 30px 20px;
            padding: 0;
        }
        .slick-prev:before,
        .slick-next:before {
            color: #000;
        }
        .slide-image {
            width: 100%;
            height: auto;
        }
        .slick-caption {
            bottom: 0;
            left: 0;
            margin: 0;
            padding: .5em 1em;
            color: #fff;
            background: rgba(0, 0, 0, .5);
        }
        .slide-content {
            padding: 1em;
            background: #fff;
        }
        .slide-content img {
            float: right;
            padding: 0 2em 0 1em;
        }
    
    </style>

<div class="testi-cont">
    <section>
            <script>
                $(function () {
                    $('.slider-2').slick({
                        dots: true,
						autoplaySpeed: 1000
						
                    });
                });
            </script>
            <div class="slick-wrapper">
                <div class="slider-2">
                    <div class="testimonial-quote group">
        <img src="https://cdn.shopify.com/s/files/1/0024/8070/1503/t/7/assets/review_1.png?10746688900268163147">
        <div class="quote-container">
            <blockquote>
                <p>She's gorgeous, arrived very quickly and even looks better than in the pictures. Has a lovely face; on the first day with her, I wore off her lipstick by kissing her so much. SDG's customer service was very friendly and helpful when I was setting up the purchase. I'll be back in the future to make another purchase - will probably wear this one out before the year is over. ”</p>
            </blockquote>  
            <cite><span>- John B.</span><br>
                ⭐️⭐️⭐️⭐️⭐️
            </cite>
        </div>
    </div> 
                    <div class="testimonial-quote group">
        <img src="https://cdn.shopify.com/s/files/1/0024/8070/1503/t/7/assets/review_2.png?9837075555812505992">
        <div class="quote-container">
            <blockquote>
                <p>Found them on TDF. New website so I was not sure, but Janet was very assuring and professional. They even got on a call with me for 1hr 20 mins and answered every question I had one by one. Now that's customer care done right. Take note scammy aliexpress sellers!!! ”</p>
            </blockquote>  
            <cite><span>William S. - Bradford, UK</span><br>
                 ⭐️⭐️⭐️⭐️⭐️
            </cite>
        </div>
    </div> 
                    <div class="testimonial-quote group">
        <img src="https://cdn.shopify.com/s/files/1/0024/8070/1503/t/7/assets/review_3.png?16056670015943732220">
        <div class="quote-container">
            <blockquote>
                <p>Fastest delivery of all my dolls so far. 12 days! ”</p>
            </blockquote>  
            <cite><span> Joseph. S - San Jose, CA</span><br>
                 ⭐️⭐️⭐️⭐️⭐️
            </cite>
        </div>
    </div> 
                    
                </div>
            </div>
    </section>
</div>