{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template-onsale' %}




<div id="reviews-by-gs"></div> <div>&nbsp;</div>
<!-- REVIEWS code end. Do not change GSEND -->